params {
    input         = null  // Will be set to an Azure Blob Storage path
    outdir        = null  // Required: output directory path
    project = null  // Required: project name
    panel = "full"
    input_format = 'auto'
    // Trimmomatic Settings
    adapter_file = null // Set to null if you don't want to use adapter trimming by default. Set to AZ File Share folder fasta?
    trim_params = 'LEADING:15 TRAILING:15 SLIDINGWINDOW:4:15 MINLEN:36'
    // Flash2 Settings
    min_overlap = 3
    min_outie_overlap = 20
    max_overlap = 400
    // BWA mem Settings
    reference = null // Set automatically in the Azure config, if using
    n_loci = 204
    // RUBIAS Settings
    rubias_show_missing_data = 'TRUE'
    // Threshold Settings
    ots28_missing_threshold = 0.5 // In ROSA process: If less than this much OTS28 data is missing, consider OTS28 data Intermediate instead of uncertain
    gsi_missing_threshold = 0.6 // In RUBIAS process: If more than this much GSI data is missing, consider GSI data invalid
    pofz_threshold = 0.8 // In RUBIAS process: If the maximum PofZ is less than this, consider the result ambiguous

    // Full genome mapping configuration
    // When panel='full', these 7 loci (VGLL3SIX6/LFAR/WRAP) are mapped via full genome
    // to correctly handle off-target amplicons, while the remaining 196 loci use target FASTA mapping
    fullgenome_region_file = "${projectDir}/data/regions/Chinook_FullPanel_VGLL3Six6LFARWRAP-Otsh_v1.0.txt"
    fullgenome_ref_name = "Chinook_FullPanel_VGLL3Six6LFARWRAP"
    genome_cache = "${projectDir}/data/genome_cache"
    genome_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/872/995/GCF_002872995.1_Otsh_v1.0/GCF_002872995.1_Otsh_v1.0_genomic.fna.gz"

    fullgenome_ref_name = 'Chinook_FullPanel_VGLL3Six6LFARWRAP'
    ots28_missing_threshold = 0.5
    full_genome_mount_path = null
    gsi_missing_threshold = 0.6
    pofz_threshold = 0.8
    concat_all_reads = false
    run_fastqc = false
    run_dimer_check = true
    use_sequoia = false
    sequoia_mode = 'par'
    sequoia_missing_threshold = 0.5
    species_max_repro_age = 6
    species_min_repro_age = 1
    haplotype_depth = 4
    total_depth = 8
    allele_balance = 0.35
    loci_to_remove = ""
    male_sexid_threshold = 0.01
    female_sexid_threshold = 0.002
    sexid_min_reads = 10000
    offspring_max_age = 6
    offspring_birthyear = 'unknown'
    offspring_maxBY = params.offspring_birthyear
    offspring_minBY = ((params.offspring_maxBY) ? (params.offspring_maxBY - params.offspring_max_age) : null)
    use_CKMR = false
    CKMR_logl_threshold = 6.9
    CKMR_min_loci = 90
    CKMR_parent_geno_input = "$projectDir/examples/PBT/FRH2024_reference_genotypes.csv"
    CKMR_extra_genos_allele_freqs = "$projectDir/examples/PBT/JPE2022-2024_geno_wide.csv"
    fullgenome_region_file = "$projectDir/data/regions/Chinook_FullPanel_VGLL3Six6LFARWRAP-Otsh_v1.0.txt"
    fullgenome_chunk_size = 30
    mpileup_chunk_size = 500
    mhp_chunk_size = 500
    // Other params remain the same
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    azure {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure.config'
    }
    azure_large {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure_large.config'
    }
    azure_local {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure_local.config'
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
        singularity.autoMounts = true
    }
    ucd {
        includeConfig  'conf/ucdavis_hive.config'
    }
}

manifest {
    defaultBranch = 'main'
}