docker.runOptions = '-v /mnt/batch/tasks/fsmounts/seqres:/mnt/batch/tasks/fsmounts/seqres'
docker.enabled = true
workDir = 'az://nextflow/work'
params {
    outdir = 'az://nextflow/results/chinookGT_full'
    adapter_file = 'az://nextflow/reference/adapters/GTseq-PE.fa'
    genome_cache = 'az://nextflow/reference/genomes'
    fullgenome_chunk_size = 30
}


azure {
    retryPolicy {
        delay = '30000ms'
    }
    batch {
        autoPoolMode = false
        allowPoolCreation = true
        deletePoolsOnCompletion = false
        terminateJobsOnCompletion = true
    }
    storage {
        fileShares {
            seqres {
                mountPath = "/mnt/batch/tasks/fsmounts/seqres"
                //mountPath = "/mnt/seqres"
                mountOptions = "vers=3.0,dir_mode=0755,file_mode=0755,serverino,nosharesock"
            }
        }
    }
}

process {
  executor = 'azurebatch'
  queue = 'tower-pool-4O5zxsIPBABAV41Dt3qeWi'
  withName: 'ANALYZE_IDXSTATS' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'BCFTOOLS_MPILEUP' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'BWA_MEM' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'DIMER_ANALYSIS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
    errorStrategy = 'retry'
  }
  withName: 'FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 4.GB * task.attempt }
    errorStrategy = 'ignore'
  }
  withName: 'FLASH2' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'GEN_HAPS' {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
  withName: 'GEN_MHP_SAMPLE_SHEET' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'GREB_HAPSTR' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'MULTIQC' {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = 'ignore'
  }
  withName: 'PREP_MHP_RDS' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'RUN_RUBIAS' {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = 'finish'
  }
  withName: 'SAMTOOLS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUCTURE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUCTURE_ROSA_REPORT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUC_PARAMS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'TRIMMOMATIC' {
    cpus = { 4 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'CONCAT_READS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'CKMR_PO' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
    errorStrategy = 'finish'
  }
  withName: 'RUN_SEQUOIA' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
    errorStrategy = 'finish'
  }
  withName: 'MAP_TO_FULL_GENOME|MAP_TO_FULL_GENOME_MOUNT' {
    cpus = { 4 }  
    memory = { 12.GB + (2.GB * (task.attempt - 1)) }
  }
  withName: 'BAM_TO_FASTQ' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'DOWNLOAD_AND_INDEX_GENOME' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'EXTRACT_READS_FROM_REGIONS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'MAKE_THINNED_GENOME|MAKE_THINNED_GENOME_MOUNT' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'REMAP_TO_THINNED_GENOME' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
