docker.enabled = true
workDir = 'az://nextflow/work'
params {
    outdir = 'az://nextflow/results/chinookGT_full'
    adapter_file = null // Will use local adapter file
    genome_cache = 'az://nextflow/reference/genomes'
    fullgenome_chunk_size = 30
}


azure {
    retryPolicy {
        delay = '1000ms'
    }
    batch {
        autoPoolMode = false
        allowPoolCreation = true
        runOptions = '-e "HOME=${HOME}" -v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro'
        deletePoolsOnCompletion = false
        pools {
            medium {
                machineType = 'Standard_D4_v3'
                autoScale = true
                maxVmCount = 40
                scaleFormula = '''
                startingNumberOfVMs = 1;
                maxNumberofVMs = 40;
                pendingTaskSamplePercent = $PendingTasks.GetSamplePercent(300 * TimeInterval_Second);
                pendingTaskSamples = pendingTaskSamplePercent < 70 ? startingNumberOfVMs : avg($PendingTasks.GetSample(300 * TimeInterval_Second));
                $TargetDedicatedNodes = min(maxNumberofVMs, ceil(pendingTaskSamples));
                $NodeDeallocationOption = taskcompletion;
                '''
            }
        }
    }
    storage {
        fileShares {
            seqres {
                mountPath = "/mnt/batch/tasks/fsmounts/seqres"
                //mountPath = "/mnt/seqres"
                mountOptions = "vers=3.0,dir_mode=0755,file_mode=0755,serverino,nosharesock"
            }
        }
    }
}

process {
  queue = 'tower-pool-3vJW0Lv1ruHEFWsJX8oKDb'
  withName: 'ANALYZE_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'BCFTOOLS_MPILEUP' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'BWA_MEM' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'DIMER_ANALYSIS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'FLASH2' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'GEN_HAPS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'GEN_MHP_SAMPLE_SHEET' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'GREB_HAPSTR' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  withName: 'PREP_MHP_RDS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'RUN_RUBIAS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'SAMTOOLS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUCTURE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUCTURE_ROSA_REPORT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUC_PARAMS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'TRIMMOMATIC' {
    cpus = { 4 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'CONCAT_READS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'CKMR_PO' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
  }
  withName: 'RUN_SEQUOIA' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
  }
  withName: 'MAP_TO_FULL_GENOME|MAP_TO_FULL_GENOME_MOUNT' {
    cpus = { 2 + (1 * task.attempt) }
    memory = { 12.GB + (2.GB * (task.attempt - 1)) }
    maxForks = 30
  }
  withName: 'BAM_TO_FASTQ' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'DOWNLOAD_AND_INDEX_GENOME' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'EXTRACT_READS_FROM_REGIONS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'MAKE_THINNED_GENOME' {
    cpus = { 2 * task.attempt }
    memory = { 6.GB * task.attempt }
  }
  withName: 'REMAP_TO_THINNED_GENOME' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}