docker.enabled = true
workDir = 'az://esmnf/work'
params {
    outdir = 'az://esmnf/results/chinookGT_full'
    adapter_file = 'az://esmnf/reference/adapters/GTseq-PE.fa' 
}


azure {
    batch {
        autoPoolMode = false
        deletePoolsOnCompletion = false
    }
}

process {
  executor = 'azurebatch'
  queue = 'tower-pool-529jat0NdNeBymJqTC0i21'
  withName: 'ANALYZE_IDXSTATS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'BCFTOOLS_MPILEUP' {
    cpus = { 4 * task.attempt }
    memory = { 12.GB * task.attempt }
  }
  withName: 'BWA_MEM' {
    cpus = { 4 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'DIMER_ANALYSIS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'FASTQC' {
    cpus = { 3 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'FLASH2' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'GEN_HAPS' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'GEN_MHP_SAMPLE_SHEET' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'GREB_HAPSTR' {
    cpus = { 2 * task.attempt }
    memory = { 4.GB * task.attempt }
  }
  withName: 'MULTIQC' {
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
  }
  withName: 'PREP_MHP_RDS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'RUN_RUBIAS' {
    cpus = { 2 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'SAMTOOLS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUCTURE' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUCTURE_ROSA_REPORT' {
    cpus = { 2 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'STRUC_PARAMS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'TRIMMOMATIC' {
    cpus = { 4 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  withName: 'CONCAT_READS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  withName: 'CKMR_PO' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
  }
    withName: 'RUN_SEQUOIA' {
    cpus = { 4 * task.attempt }
    memory = { 10.GB * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
