process.executor = 'local'
docker.enabled = true
singularity.enabled = false

process {
  withName: 'ANALYZE_IDXSTATS' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'BCFTOOLS_MPILEUP' {
    cpus = 2
    memory = '4 GB'
  }
  withName: 'BWA_MEM' {
    cpus = 2
    memory = '1 GB'
  }
  withName: 'DIMER_ANALYSIS' {
    cpus = 2
    memory = '2 GB'
  }
  withName: 'FASTQC' {
    cpus = 2
    memory = '2 GB'
  }
  withName: 'FLASH2' {
    cpus = 2
    memory = '2 GB'
  }
  withName: 'GEN_HAPS' {
    cpus = 1
    memory = '1 GB'
  }
  withName: 'GEN_MHP_SAMPLE_SHEET' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'GREB_HAPSTR' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'MULTIQC' {
    cpus = 1
    memory = '4 GB'
  }
  withName: 'PREP_MHP_RDS' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'RUN_RUBIAS' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'SAMTOOLS' {
    cpus = 1
    memory = '1 GB'
  }
  withName: 'STRUCTURE' {
    cpus = 1
    memory = '1 GB'
  }
  withName: 'STRUCTURE_ROSA_REPORT' {
    cpus = 1
    memory = '1 GB'
  }
  withName: 'STRUC_PARAMS' {
    cpus = 1
    memory = '1 GB'
  }
  withName: 'TRIMMOMATIC' {
    cpus = 2
    memory = '2 GB'
  }
  withName: 'CONCAT_READS' {
    cpus = 1
    memory = '1 GB'
  }
  withName: 'CKMR_PO' {
    cpus = 2
    memory = '4 GB'
  }
  withName: 'RUN_SEQUOIA' {
    cpus = 2
    memory = '4 GB'
  }
  withName: 'MAP_TO_FULL_GENOME' {
    cpus = 1
    memory = '4 GB'
    maxForks = 1  // Run only one at a time when local
  }
  withName: 'BAM_TO_FASTQ' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'DOWNLOAD_AND_INDEX_GENOME' {
    cpus = 2
    memory = '7 GB'
  }
  withName: 'EXTRACT_READS_FROM_REGIONS' {
    cpus = 1
    memory = '2 GB'
  }
  withName: 'MAKE_THINNED_GENOME' {
    cpus = 2
    memory = '4 GB'
  }
  withName: 'REMAP_TO_THINNED_GENOME' {
    cpus = 1
    memory = '2 GB'
  }
  errorStrategy = 'retry'
  maxRetries = 2
}
